body {
    background-image: url('/src/img/5.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#menutd {
    vertical-align: top;
    font-size: 13px;
}

#maintd {
    vertical-align: top;
    font-size: 12px;
}

.box {
    text-align: left;
    border: 1px solid gray;
    box-sizing: border-box;
    background: linear-gradient(to bottom,#0e141b99,#000c);
    background-attachment: fixed;
    color: white;
    font-family: 'Press Start 2P';
    padding: 15px;
    margin: 10px;
}
