/* Top section of the pagee */

.pfp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #121212;
    border-bottom: 5px solid #222266;
    color: white;
}

.pfp-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pfp-pic {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    border: 2px solid #444;
}

.links {
    display: flex;
    align-items: left;
    gap: 12px;
}

.AOTY {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.spotify {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.insta {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.dis-cord {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}


/* Music Collage 🐳 */
.TuneTuneTuneSahur {
    position: relative;
    width: 850px;
    height: 1020px;
    margin: 50px auto;
    overflow: visible;
}

.TuneTuneTuneSahur img {
    width: 100%;
    display: block;
}

.london-saviour {
    position: absolute;
    width: 150px;
    top: 50px;
    left: 100px;
}

.pulse-construct {
    position: absolute;
    top: 300px;
    left: 200px;
}

.apnea {
    position: absolute;
    width: 150px;
}

.birth-of-a-new-day {
    position: absolute;
    width: 150px;
}

.black-pleasure {
    position: absolute;
    width: 150px;
}

.celeste {
    position: absolute;
    width: 150px;
}

.city-of-doves {
    position: absolute;
    width: 150px;
}

.crack-clouds-over-arts-kitchen {
    position: absolute;
    width: 150px;
}

.deathmetal {
    position: absolute;
    width: 150px;
}

.die-lit {
    position: absolute;
    width: 150px;
}

.dreamcast-summer-songs {
    position: absolute;
    width: 150px;
}

.early-internet {
    position: absolute;
    width: 150px;
}

.freewave {
    position: absolute;
    width: 150px;
}

.goth-luv {
    position: absolute;
    width: 150px;
}

.hades {
    position: absolute;
    width: 150px;
}

.half-blood {
    position: absolute;
    width: 150px;
}

.bloodluxe {
    position: absolute;
    width: 150px;
}

.hearts {
    position: absolute;
    width: 150px;
}

.hertz {
    position: absolute;
    width: 150px;
}

.inhuman {
    position: absolute;
    width: 150px;
}

.joechillworld {
    position: absolute;
    width: 150px;
}

.luvsic {
    position: absolute;
    width: 150px;
}

.pizza-and-codeine {
    position: absolute;
    width: 150px;
}

.ramona {
    position: absolute;
    width: 150px;
}

.regret-when-it-was-lost {
    position: absolute;
    width: 150px;
}

.sisterhood {
    position: absolute;
    width: 150px;
}

.stratosphere {
    position: absolute;
    width: 150px
}

.stunt-4-life {
    position: absolute;
    width: 150px;
}

.sweet-hz {
    position: absolute;
    width: 150px;
}

.dimmed-hue {
    position: absolute;
    width: 150px;
}

.tgpt {
    position: absolute;
    width: 150px;
}

.wiyn {
    position: absolute;
    width: 150px;
}

.the-sword-and-soaring {
    position: absolute;
    width: 150px;
}

.today-i-laid-down {
    position: absolute;
    width: 150px;
}

.unmusique {
    position: absolute;
    width: 15px;
}

.weapon-party {
    position: absolute;
    width: 150px;
}

.windswept-adan {
    position: absolute;
    width: 150px;
}

.joey-1999 {
    position: absolute;
    width: 150px;
}

.a-lost-paracosm {
    position: absolute;
    width: 150px;
}

.steez {
    position: absolute;
    width: 150px;
}

.mahoroboshiya {
    position: absolute;
    width: 150px;
}

.noisehigh {
    position: absolute;
    width: 150px;
}

.on-the-love-beach {
    position: absolute;
    width: 150px;
}

.reverie {
    position: absolute;
    width: 150px;
}

.small-circle {
    position: absolute;
    width: 150px;
}

.the-peak {
    position: absolute;
    width: 150px;
}

.the-perfect-child {
    position: absolute;
    width: 150px;
}

.therapy {
    position: absolute;
    width: 150px;
}

.garry {
    position: absolute;
    width: 150px;
}

.what-the-feng {
    position: absolute;
    width: 150px;
}

