/* Top section of the pagee */

.pfp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #121212;
    border-bottom: 5px solid #222266;
    color: white;
}

.pfp-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pfp-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #444;
}

/* Testing */
#menutd {
    width: 300px;
    min-width: 300px;
}

/* Music Player */ 
#spotify-wrapper {
    display: block;
    width: 300px;
    height: 152px;
    overflow: hidden;
    border-radius: 12px;
}

#spotify-embed {
    width: 250px;
    height: 152px;
    border: none;
    display: block;

} 

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}