/* Top section of the pagee */

.pfp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #121212;
    border-bottom: 5px solid #222266;
    color: white;
}

.pfp-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pfp-pic {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    border: 2px solid #444;
}

.links {
    display: flex;
    align-items: left;
    gap: 12px;
}

.AOTY {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.spotify {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.insta {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.dis-cord {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.gif {
    width: 610px;
    overflow: visible;
}

.info-gif {
    width: 650px;
    height: 150px;
    margin-top: -10px;
    margin-left: -275px;
}

/* Music Collage 🐳 */
.TuneTuneTuneSahur {
    position: relative;
    width: 850px;
    height: 1020px;
    margin: 50px auto;
    overflow: visible;
}

.TuneTuneTuneSahur img {
    width: 100%;
    display: block;
}

.london-saviour {
    position: absolute;
    width: 135px;
    top: 200px;
    left: 290px;
}

.pulse-construct {
    position: absolute;
    width: 130px;
    top: 250px;
    right: 250px;
}

.apnea {
    position: absolute;
    width: 130px;
    top: 165px;
    right: 350px
}

.birth-of-a-new-day {
    position: absolute;
    width: 125px;
    top: 175px;
    left: 210px;
}

.black-pleasure {
    position: absolute;
    width: 125px;
    top: 185px;
    right: 135px;
}

.celeste {
    position: absolute;
    width: 155px;
    top: 305pc;
    right: 55px;
}

.city-of-doves {
    position: absolute;
    width: 125px;
}

.crack-clouds-over-arts-kitchen {
    position: absolute;
    width: 125px;
}

.deathmetal {
    position: absolute;
    width: 125px;
}

.die-lit {
    position: absolute;
    width: 125px;
}

.dreamcast-summer-songs {
    position: absolute;
    width: 125px;
}

.early-internet {
    position: absolute;
    width: 125px;
}

.freewave {
    position: absolute;
    width: 125px;
}

.goth-luv {
    position: absolute;
    width: 125px;
}

.hades {
    position: absolute;
    width: 125px;
}

.half-blood {
    position: absolute;
    width: 125px;
}

.bloodluxe {
    position: absolute;
    width: 125px;
}

.hearts {
    position: absolute;
    width: 125px;
}

.hertz {
    position: absolute;
    width: 125px;
}

.inhuman {
    position: absolute;
    width: 125px;
}

.joechillworld {
    position: absolute;
    width: 125px;
}

.luvsic {
    position: absolute;
    width: 125px;
}

.pizza-and-codeine {
    position: absolute;
    width: 125px;
}

.ramona {
    position: absolute;
    width: 125px;
}

.regret-when-it-was-lost {
    position: absolute;
    width: 125px;
}

.sisterhood {
    position: absolute;
    width: 125px;
}

.stratosphere {
    position: absolute;
    width: 125px
}

.stunt-4-life {
    position: absolute;
    width: 125px;
}

.sweet-hz {
    position: absolute;
    width: 125px;
}

.dimmed-hue {
    position: absolute;
    width: 125px;
}

.tgpt {
    position: absolute;
    width: 125px;
}

.wiyn {
    position: absolute;
    width: 125px;
}

.the-sword-and-soaring {
    position: absolute;
    width: 125px;
}

.today-i-laid-down {
    position: absolute;
    width: 125px;
}

.unmusique {
    position: absolute;
    width: 15px;
}

.weapon-party {
    position: absolute;
    width: 125px;
}

.windswept-adan {
    position: absolute;
    width: 125px;
}

.joey-1999 {
    position: absolute;
    width: 125px;
}

.a-lost-paracosm {
    position: absolute;
    width: 125px;
}

.steez {
    position: absolute;
    width: 125px;
}

.mahoroboshiya {
    position: absolute;
    width: 125px;
}

.noisehigh {
    position: absolute;
    width: 125px;
}

.on-the-love-beach {
    position: absolute;
    width: 125px;
}

.reverie {
    position: absolute;
    width: 125px;
}

.small-circle {
    position: absolute;
    width: 125px;
}

.the-peak {
    position: absolute;
    width: 125px;
}

.the-perfect-child {
    position: absolute;
    width: 125px;
}

.therapy {
    position: absolute;
    width: 125px;
}

.garry {
    position: absolute;
    width: 125px;
}

.what-the-feng {
    position: absolute;
    width: 125px;
}

