/* Music Collage 🐳 */

.TuneTuneTuneSahur {
    position: relative;
    width: 850px;
    height: 1020px;
    margin: -100px auto;
    overflow: visible;
}

.TuneTuneTuneSahur a {
    transition: transform 0.4s ease, filter 0.4s ease;
}

.TuneTuneTuneSahur a:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 6px gray);
}

.TuneTuneTuneSahur img {
    width: 100%;
    display: block;
}

.london-saviour {
    position: absolute;
    width: 135px;
    top: 280px;
    left: 290px;
}

.pulse-construct {
    position: absolute;
    width: 130px;
    top: 250px;
    right: 250px;
}

.apnea {
    position: absolute;
    width: 130px;
    top: 165px;
    right: 350px
}

.birth-of-a-new-day {
    position: absolute;
    width: 125px;
    top: 180px;
    left: 210px;
}

.black-pleasure {
    position: absolute;
    width: 125px;
    top: 185px;
    right: 135px;
}

.celeste {
    position: absolute;
    width: 155px;
    top: 305px;
    right: 55px;
}

.city-of-doves {
    position: absolute;
    width: 115px;
    top: 250px;
    right: -30px;
}

.crack-clouds-over-arts-kitchen {
    position: absolute;
    width: 150px;
    top: 370px;
    left: 170px;
}

.deathmetal {
    position: absolute;
    width: 110px;
    top: 435px;
    left: 325px;
}

.die-lit {
    position: absolute;
    width: 180px;
    top: 210px;
    left: 20px;
}

.dreamcast-summer-songs {
    position: absolute;
    width: 130px;
    top: 420px;
    left: -10px;
}

.early-internet {
    position: absolute;
    width: 95px;
    top: 355px;
    left: 90px;
}

.freewave {
    position: absolute;
    width: 95px;
    top: 490px;
    left: 90px;
}

.goth-luv {
    position: absolute;
    width: 125px;
    top: 410px;
    left: 410px
}

.hades {
    position: absolute;
    width: 110px;
    top: 370px;
    right: 230px;
}

.half-blood {
    position: absolute;
    width: 145px;
    top: 460px;
    right: 190px;
}

.bloodluxe {
    position: absolute;
    width: 155px;
    bottom: 300px;
    right: 300px;
}

.hearts {
    position: absolute;
    width: 150px;
    bottom: 345px;
    left: 170px;
}

.luvsic {
    position: absolute;
    width: 100px;
    bottom: 380px;
    left: 290px;
}

.hertz {
    position: absolute;
    width: 140px;
    top: 215px;
    left: -135px;
}

.inhuman {
    position: absolute;
    width: 145px;
    top: 340px;
    left: -150px
}

.joechillworld {
    position: absolute;
    width: 95px;
    bottom: 430px;
    left: -75px;
    z-index: 2;
}

.pizza-and-codeine {
    position: absolute;
    width: 130px;
    bottom: 425px;
    right: 40px;
}

.ramona {
    position: absolute;
    width: 100px;
    top: 480px;
    right: -40px;
}

.regret-when-it-was-lost {
    position: absolute;
    width: 140px;
    top: 350px;
    right: -100px;
}

.sisterhood {
    position: absolute;
    width: 155px;
    top: 260px;
    right: -220px;
}

.stratosphere {
    position: absolute;
    width: 100px;
    top: 165px;
    right: -125px;
}

.stunt-4-life {
    position: absolute;
    width: 115px;
    bottom: 350px;
    right: 130px;
    z-index: 2;
}

.sweet-hz {
    position: absolute;
    width: 155px;
    bottom: 230px;
    right: 170px;
    z-index: 1;
}

.dimmed-hue {
    position: absolute;
    width: 145px;
    bottom: 220px;
    left: 240px;
}

.tgpt {
    position: absolute;
    width: 135px;
    bottom: 190px;
    left: 100px;
}

.wiyn {
    position: absolute;
    width: 110px;
    bottom: 340px;
    left: -60px;
    z-index: 1;
}

.the-sword-and-soaring {
    position: absolute;
    width: 90px;
    bottom: 340px;
    left: 100px;
}

.today-i-laid-down {
    position: absolute;
    width: 100px;
    bottom: 260px;
    left: 15px;
    z-index: 2;
}

.unmusique {
    position: absolute;
    width: 130px;
    top: 140px;
    right: 25px;
}

.weapon-party {
    position: absolute;
    width: 145px;
    bottom: 250px;
    right: 10px;
}

.windswept-adan {
    position: absolute;
    width: 125px;
    bottom: 330px;
    right: -100px
}

.joey-1999 {
    position: absolute;
    width: 110px;
    top: 480px;
    right: -170px;
}

.a-lost-paracosm {
    position: absolute;
    width: 175px;
    bottom: 80px;
    left: 350px;
}

.steez {
    position: absolute;
    width: 155px;
    bottom: 390px;
    left: -210px;
    z-index: 2;
    transform: rotate(4deg)
}

.mahoroboshiya {
    position: absolute;
    width: 165px;
    bottom: 200px;
    left: -180px
}

.noisehigh {
    position: absolute;
    width: 145px;
    bottom: 160px;
    left: -20px;
    z-index: 1;
}

.on-the-love-beach {
    position: absolute;
    width: 155px;
    bottom: 130px;
    right: -100px;
}

.reverie {
    position: absolute;
    width: 145px;
    bottom: 100px;
    right: 80px;
    transform: rotate(10deg);
    z-index: 3;
}

.small-circle {
    position: absolute;
    width: 155px;
    top: 390px;
    right: -320px;
    transform: rotate(7deg)
}

.the-peak {
    position: absolute;
    width: 145px;
    top: 340px;
    left: -300px;
    z-index: 1;
    transform: rotate(-5deg);
}

.the-perfect-child {
    position: absolute;
    width: 125px;
    top: 240px;
    left: -260px;
}

.therapy {
    position: absolute;
    width: 165px;
    bottom: 40px;
    left: -140px;
    transform: rotate(-5deg);
}

.garry {
    position: absolute;
    width: 165px;
    bottom: 240px;
    right: -270px;
    transform: rotate(4deg);
}

.what-the-feng {
    position: absolute;
    width: 145px;
    bottom: 30px;
    left: 120px;
}

.for-those-who-smirk {
    position: absolute;
    width: 155px;
    bottom: 50px;
    left: -320px;
}
